<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Data</title>
</head>
<body>
    <form action="/addprocess" method="POST">
        <p>Nama</p>
        <input type="text" name="nama" placeholder="cth. Anto Budi">
        <p>Kelas</p>
        <input type="text" name="kelas" placeholder="cth. 22S02">
        <input type="submit" name="submit" value="kirim">
    </form>
</body>
</html>